<script src="../home/home.component.ts"></script>
<header>
  <div class="header-area ">
    <div id="sticky-header" class="main-header-area">
      <div class="container-fluid ">
        <div class="header_bottom_border">
          <div class="row align-items-center">
            <div class="col-xl-3 col-lg-2">
              <div class="logo">
                <a href="index.html">
                  <img src="assets/template/img/logo.png" alt="">
                </a>
              </div>
            </div>
            <div class="col-xl-6 col-lg-7">
              <div class="main-menu  d-none d-lg-block">
                <nav>
                  <ul id="navigation">
                    <li><a [routerLink]="['']">home</a></li>
                    <li><a [routerLink]="['/offre']">Browse Job</a></li>
                    <li><a *ngIf="userService.isAdmin() && userService.isLogged()" [routerLink]="['/user/list']">users</a></li>
                  </ul>
                </nav>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 d-none d-lg-block">
              <div class="Appointment">
                <div class="phone_num d-none d-xl-block">
                  <ul class="nav  navbar-right">
                    <li *ngIf="! userService.isLogged()">
                      <a [routerLink]="['/login']" href="#"> login</a>
                    </li>
                    <li *ngIf="userService.isLogged()">
                      <a (click)="logOut()" href="">
                        <i class="fa fa-sign-out"></i> Log out
                      </a>
                    </li>

                  </ul>
                </div>
                <div *ngIf="! userService.isLogged()" class="d-none d-lg-block">
                  <a class="boxed-btn3" [routerLink]="['/register']">Register</a>
                </div>
                <div *ngIf=" userService.isLogged()" class="d-none d-lg-block">

                  <a class="boxed-btn3" (click)="goToShowProfile()">
                    <span><img  [src]="curruntUser?.photo | defaultImage " alt="" class="rounded-circle" height="37"></span> {{curruntUser?.prenom}} {{curruntUser?.nom}}</a>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="mobile_menu d-block d-lg-none"></div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</header>
<!-- header-end -->


<!-- slider_area_end -->
