

<div class="job_listing_area plus_padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <app-rechercher-offre (data)="reloadOffres($event)"></app-rechercher-offre>
      </div>
      <div class="col-lg-9">
        <div class="recent_joblist_wrap">
          <div class="recent_joblist white-bg ">
            <div class="row align-items-center">
              <div class="col-md-3">
                <h4>Job Listing</h4>
              </div>
              <div class="col-md-6">
                <div class="serch_cat d-flex justify-content-end d-inline">
                  <input type="email" class="form-control" id="search-text" aria-describedby="search-text"
                         [(ngModel)]="searchText"  placeholder="Enter text to search"
                         autofocus>
                </div>
              </div>
              <div *ngIf="this.userService.isAdmin()" class="col-md-3"><a   (click)="goToAddOffre()" class="genric-btn info radius .text-white">add new Offre</a></div>
            </div>
          </div>
        </div>

        <app-offre-item class="mt-5"  [offre]="ofr" *ngFor="let ofr of offres | appFilter: searchText "></app-offre-item>

          <div class="row">
            <div class="col-lg-12">
              <div class="pagination_wrap">
                <ul>
                  <li><a href="#"> <i class="ti-angle-left"></i> </a></li>
                  <li><a href="#"><span>01</span></a></li>
                  <li><a href="#"><span>02</span></a></li>
                  <li><a href="#"> <i class="ti-angle-right"></i> </a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>











